.box-lateral-panel {
    width: 15vw;

}

.box-main {
    width: 85vw;

}


.btn-panel {
    height: 50px;
    border: none;
    transition: .3s;
    text-align: left;
}

.btn-panel:hover {
    background-color: #066438 !important;
}

.i {
    padding-right: 10px;
    padding-left: 10px;
}


.box-home {
    width: 100%;
    padding-top: 10px;
}

.box-learn {
    height: 40vh;
    background-color: rgb(219, 219, 219);
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 2px 0px rgb(182, 182, 182);
}

.box-learning {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.sin-aprender {
    color: rgb(117, 117, 117);
    font-weight: 700;
    font-size: 30px;
}

.learn {
    width: 250px;
    margin: 10px;
}



/* mis tecnologias por aprender */

.box-my-tech {
    height: 55vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(219, 219, 219);
    border-radius: 10px;
    box-shadow: 0 0 2px 0px rgb(182, 182, 182);
}

.box-sin-tech {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: start;
    text-align:center;
}

.title-my-tech {
    color: rgb(56, 56, 56);
}

.box-agregar-tecnologia {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    padding-bottom: 50px;
}

.btn-agregar-tech {
    width: 180px;
}

.sin-tech {
    color: rgb(117, 117, 117);
}

.box-tecnologias {
    width: 100%;
    background-color: rgb(255, 255, 255) !important;
    padding: 0;
}

.tecnologia {
    width: 250px;
    height: 300px;
    background-color: rgb(219, 219, 219);
    border-radius: 20px;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 0 2px 0px rgb(121, 121, 121);
}

.tech-img {
    width: 150px;
    height: 150px;
}

.title-tech {

}