.box-lateral-panel {
    width: 15vw;

}

.box-main {
    width: 85vw;

}


.btn-panel {
    height: 50px;
    border: none;
    transition: .3s;
    text-align: left;
}

.btn-panel:hover {
    background-color: #066438 !important;
}

.i {
    padding-right: 10px;
    padding-left: 10px;
}


.box-home {
    width: 100%;
    padding-top: 5px;
}

.box-learning {
    height: 40vh;
}

.divisor {
    width: 100%;
    height: 3px !important;
    margin: 15px 0;
    background-color: rgb(197, 197, 197);
}

.box-my-tech {
    height: 55vh;
}
