body {
    overflow: hidden;
}

.box-lateral-panel {
    width: 15vw;
    height: 100vh;
}

.box-main {
    width: 85vw;
}


.btn-panel {
    height: 50px;
    border: none;
    transition: .3s;
    text-align: left;
}

.btn-panel:hover {
    background-color: #066438 !important;
}

.i {
    padding-right: 10px;
    padding-left: 10px;
}


.box-home {
    width: 100%;
    padding-top: 10px;
}

.box-learn {
    height: 40vh;
    background-color: rgb(219, 219, 219);
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 2px 0px rgb(182, 182, 182);
}

.box-no-learning {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.sin-aprender {
    color: rgb(117, 117, 117);
    font-weight: 700;
    font-size: 30px;
}

.learn {
    width: 250px;
    margin: 10px;
}

.box-tech-learning {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.tech-learning-img {
    width: 250px;
    height: 250px;
}

.box-data-learning {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    height: 80%;
}

.title-learning-tech {
    font-size: 70px !important;
}

.btn-completed-learning {
    width: 200px;
    margin: 10px;
    height: 50px;
}

.btn-remove-learning {
    width: 200px;
    margin: 10px;
    height: 50px;
}


/* mis tecnologias por aprender */

.box-my-tech {
    height: 55vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: column;
    background-color: rgb(219, 219, 219);
    border-radius: 10px;
    box-shadow: 0 0 2px 0px rgb(182, 182, 182);
}

.box-sin-tech {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: start;
    text-align:center;
}

.title-my-tech {
    color: rgb(56, 56, 56);
}

.box-agregar-tecnologia {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    padding-bottom: 50px;
}

.btn-agregar-tech {
    width: 180px;
}

.sin-tech {
    color: rgb(117, 117, 117);
}

.my-tech-zone {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


/* Tecnologias */

.box-tecnologias {
    width: 100%;
    background-color: rgb(255, 255, 255) !important;
    padding: 0;
}

.navbar {
    position: sticky;
    top: 0;
}

.container-tecnologias {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    overflow:scroll;
    padding-bottom: 40px;

}

.tecnologia {
    width: 250px;
    height: 300px;
    margin: 20px;
    background-color: rgb(219, 219, 219);
    border-radius: 20px;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 0 5px 0px rgb(121, 121, 121);
}

.tech-img {
    width: 150px;
    height: 150px;
}

/* Dominated */

.box-dominated {
    width: 100%;
    background-color: rgb(255, 255, 255) !important;
    padding: 0;
    display: flex;
    align-items: center;
    flex-flow: column;
}

.container-dominated {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    overflow: scroll;
    padding-bottom: 40px;
}


.title-dominated {
    background-color: rgb(219, 219, 219);
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px 0px rgb(121, 121, 121);
}

/* Task */

.box-task {
    width: 100%;
    background-color: rgb(255, 255, 255) !important;
    padding: 0;
}

.container-task {
    width: 100%;
    height: 70%;
    overflow: scroll;
}


.title-task {
    background-color: rgb(219, 219, 219);
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px 0px rgb(121, 121, 121);
}

.container-form-task {
    width:100%;
    height: 100px;;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.box-input {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.name-input-task {
    margin: 0 10px 0 0;
}

.description-input-task {
    margin: 0 10px 0 0;
}

#input-description {
    width: 400px;
    background-color: rgb(219, 219, 219);
    border: none;
    border-radius: 50px;
    height: 40px;
    outline: none;
    padding-left: 20px;
    padding-right: 20px;
}

#input-name {
    background-color: rgb(219, 219, 219);
    border: none;
    border-radius: 50px;
    height: 40px;
    outline: none;
    padding-left: 20px;
    padding-right: 20px;
}

.hr-task {
    margin: 0;
}

.container-titles-task {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.title-name {
    flex: 1 1 auto;
    margin: 0;
}

.title-description {
    flex: 1 1 auto;
    margin: 0;
}

.box-task-title-btn {
    margin: 0;
    margin-right: 105px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.task {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 20px;
    margin-right: 0;
}

.name-task {
    width: 30%;

}

.description-task {
    width: 57%;
}

.box-task-btn {
    justify-content: end;
    display: flex;
}

.btn-task {
    margin: 3px;
}

/* Completed Tasks */

.container-task-completed {
    width: 100%;
    height: 90%;
    overflow: scroll;
}

.completed {
    width: 100%;
    padding-left: 20px;
}

.hr-completed {
    width: 100%;
    height: 2px !important;
    margin: 0;
    border: none;
    background-color: #198754;
}

.name-task-completed {
    width: 30%;
    margin-bottom: 0;

}

.description-task-completed {
    width: 59%;
    margin-bottom: 0;
}

/* Ventana Edit */

.fondo-edit {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.445);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.box-forms {
    width: 500px;
    height: 500px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
}

.edit-name-task {
    width: 60%;
    height: 40px;
    border-radius: 50px;
    border: none;
    outline: none;
    background-color: rgb(202, 202, 202);
    padding-left: 20px;
    padding-right: 20px;
}

.edit-description-task {
    width: 60%;
    height: 40px;
    border-radius: 50px;
    border: none;
    outline: none;
    background-color: rgb(202, 202, 202);
    padding-left: 20px;
    padding-right: 20px;
}

.box-name {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
}

.box-desc {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
}

/* Detalles */

.mensaje-dominated {
    width: 480px;
    height: 50px;
    position: fixed;
    right: -50%;
    background-color: rgb(44, 126, 28);
    transition: 1s;
    display: flex;
    align-items: center;
    margin-bottom: 0;
    border-radius: 10px;
}

.mensaje-dominated-agregar {
    right: -5%;
}

.mensaje-cambiante {
    margin-bottom: 0;
    margin-left: 20px;
    color: #ffffff;
}

.x {
    background: none;
    border: none;
    outline: none;
    color: #ffffff;
    margin-left: 10px;
    display: flex;
    align-items: center;
}